<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LaPosada">
        <activity
            android:name=".pantallas.menuJuegos.GamesMenuActivity"
            android:exported="false" />

        <activity
            android:name=".Reservas_confirmadas"
            android:exported="false" />

        <activity
            android:name=".pantallas.menuJuegos.EditGameActivity"
            android:exported="false" />
        <activity
            android:name=".reserve_selection"
            android:exported="false" />
        <activity
            android:name=".pantallas.menuJuegos.AddGameActivity"
            android:exported="false" />
        <activity
            android:name=".pantallas.menuJuegos.EditGameActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".pantallas.menuJuegos.DeleteGameActivity"
            android:exported="false" />
        <activity
            android:name=".pantallas.menuJuegos.EditGameOptionsActivity"
            android:exported="false" />
        <activity
            android:name=".pantallas.menuJuegos.GameDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".pantallas.menuComida.EditFoodActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".pantallas.menuComida.AddFoodActivity"
            android:exported="false" />
        <activity
            android:name=".pantallas.menuComida.DeleteFoodActivity"
            android:exported="false" />
        <activity
            android:name=".pantallas.menuComida.EditMenuOptionsActivity"
            android:exported="false" />
        <activity
            android:name=".pantallas.startMenu.StartMenu_activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pantallas.menuComida.FoodDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".pantallas.menuComida.FoodMenuActivity"
            android:exported="false" />
        <activity
            android:name=".pantallas.mesas.Map_Tables"
            android:exported="false" />
        <activity
            android:name=".pantallas.mesas.Selection_Of_Tables"
            android:exported="false" />
        <activity
            android:name=".pantallas.startMenu.HomeMenu_Activity"
            android:exported="false" />
        <activity
            android:name=".pantallas.startMenu.Register_activity"
            android:exported="false" />
        <activity
            android:name=".pantallas.startMenu.Login_activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>